{% extends 'base.html.twig' %}

{% block title %}Resultats index{% endblock %}

{% block body %}
    <h1>Resultats index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Contenu</th>
                <th>DateEvent</th>
                <th>File</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for resultat in resultats %}
            <tr>
                <td>{{ resultat.id }}</td>
                <td>{{ resultat.titre }}</td>
                <td>{{ resultat.contenu }}</td>
                <td>{{ resultat.dateEvent ? resultat.dateEvent|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ resultat.file }}</td>
                <td>
                    <a href="{{ path('resultats_show', {'id': resultat.id}) }}">show</a>
                    <a href="{{ path('resultats_edit', {'id': resultat.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('resultats_new') }}">Create new</a>
{% endblock %}
