{% extends 'base.html.twig' %}

{% block title %}SousTheme{% endblock %}

{% block body %}
    <h1>SousTheme</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sous_theme.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ sous_theme.titre }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('sous_theme_index') }}">back to list</a>

    <a href="{{ path('sous_theme_edit', {'id': sous_theme.id}) }}">edit</a>

    {{ include('sous_theme/_delete_form.html.twig') }}
{% endblock %}
